.ka-Accordion {
    position: relative;
}

a.ka-Accordion-toggler,
a.ka-Accordion-toggler:link {
    display: block;
    text-decoration: none;
    background-color: #ccc;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #eee;
    clear: both;
    color: #666666;
    cursor: pointer;
    font-weight: bold;
    outline: 0;
    padding: 2px 3px;
}

a.ka-Accordion-toggler:hover {
    background-color: #c6c6c6;
}

.ka-Accordion-pane-pane {
    margin: 5px;
}

.ka-Accordion-toggler-img {
    margin-right: 4px;
    position: relative;
    top: 1px;
}