.ka-content {
    min-height: 15px;
    position: relative;
}

.ka-editor-dragMode .ka-content:hover {
    outline: 0;
    background-color: transparent;
}

.ka-content-onDrag {
    position: absolute;
    cursor: move;
}

.ka-content-onDrag .ka-content-inner {
    cursor: move;
}

.ka-content-text.mce-edit-focus {
    outline: 0;
}

.ka-content-actionBar {
    min-height: 25px;
    min-width: 50px;
    background-color: white;
    border-bottom: 0px;
    padding: 0 5px;
    line-height: 25px;
    position: absolute;
    left: 3px;
    top: -27px;
    display: none;
}

.ka-content:hover .ka-content-actionBar {
    display: block;
    border: 1px solid #ababb5;
    border-bottom: 0px;
}

.ka-content-selected .ka-content-actionBar,
.ka-content-selected:hover .ka-content-actionBar {
    display: block;
    border: 1px solid #22638E;
    border-bottom: 0px;
}

.ka-content-actionBar a:link {
    color: black;
    font-size: 14px;
    text-decoration: none;
    line-height: 25px;
    padding: 0 5px;
}

.ka-content:hover {
    outline: 1px solid #ababb5;
}

.ka-content-selected,
.ka-content-selected:hover {
    outline: 1px solid #22638E;
    box-shadow: 0 0 1px #fff;
}

.ka-content-actionBar a:hover {
    color: #444;
}

.ka-content-plugin {
    position: relative;
}

.ka-content-text:focus {
    outline: 0;
}

.ka-content-inner {
    background: #22638E;
    padding: 5px;
    color: white;
    padding-right: 40px;
    text-shadow: 0 1px 0 #333;
    cursor: pointer;
    min-height: 25px;
}

.ka-content-plugin {
    border: 1px solid #6C8FA8;
}

.ka-content-selected .ka-content-plugin,
.ka-content:hover .ka-content-plugin {
    border: 1px solid white;
}

.ka-content-selected .ka-content-inner {
    background: #25567e;
}

.ka-content-inner-icon {
    position: absolute;
    right: 6px;
    top: 4px;
    font-size: 24px;
    color: white;
    text-shadow: 1px 1px 0px #6F6F6F;
}

.ka-content-inner-title {
    font-weight: bold;
}

.ka-content-inner-subtitle {
}

.ka-content-plugin-options {
    display: none;
}

.ka-content-plugin:hover .ka-content-plugin-options {
    display: block;
}

.ka-content-actionBar-move {
    cursor: move;
}

.ka-content-html-toolbarContainer {
    text-align: center;
    padding: 10px 0;
}

.ka-content-markdown textarea {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: "SourceCodePro-Regular", monospace, sans-serif;
    text-indent: 0;
}

.ka-content-markdown textarea:focus {
    outline: 0;
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.ka-content-text-wysiwyg-toolbar {
    position: relative;
    height: 30px;
    overflow: hidden;
}

.ka-content-text-wysiwyg-toolbar:hover {
    overflow: visible;
    z-index: 10000000;
}

.mce-tooltip {
    pointer-events: none;
}

.ka-content-text-wysiwyg-toolbar .mce-btn-group .mce-btn {
    border: 0;
}

.ka-content-text-wysiwyg-toolbar .mce-btn-small button {
    padding: 5px;
}

.ka-content-text-wysiwyg-toolbar .mce-flow-layout-item {
    margin: 0;
}

.ka-content-text-wysiwyg-toolbar .mce-menubtn.mce-fixed-width.mce-btn-small span {
    width: auto;
    margin-right: 15px;
}