.ka-content {
    min-height: 15px;
    position: relative;
}

.ka-editor-dragMode .ka-content:hover {
    outline: 0;
    background-color: transparent;
}

.ka-content-onDrag {
    position: absolute;
    cursor: move;
}

.ka-content-onDrag .ka-content-inner {
    cursor: move;
}

.ka-content-text.mce-edit-focus {
    outline: 0;
}

.ka-content-actionBar {
    min-height: 25px;
    min-width: 50px;
    background-color: #eee;
    border: 1px solid silver;
    border-bottom: 0px;
    padding: 0 5px;
    line-height: 25px;
    position: absolute;
    left: 3px;
    top: -27px;
    display: none;
}

.ka-content:hover .ka-content-actionBar {
    display: block;
}

.ka-content-actionBar a:link {
    color: black;
    font-size: 14px;
    text-decoration: none;
    line-height: 25px;
    padding: 0 5px;
}

.ka-content:hover {
    outline: 1px dashed #d0d0d0;
}

.ka-content-selected,
.ka-content-selected:hover {
    outline: 1px dashed #FFF;
    box-shadow: 0 0 1px #000;
}

.ka-content-actionBar a:hover {
    color: #444;
}

.ka-content-plugin {
    position: relative;
}

.ka-content-text:focus {
    outline: 0;
}

.ka-content-inner {
    background: #22638E;
    padding: 5px;
    border-radius: 2px;
    color: white;
    padding-right: 40px;
    text-shadow: 0 1px 0 #333;
    cursor: pointer;

    min-height: 25px;

    border-top: 1px solid #eee;
}

.ka-content-inner-icon {
    position: absolute;
    right: 6px;
    top: 4px;
    font-size: 24px;
    color: white;
    text-shadow: 1px 1px 0px #6F6F6F;
}

.ka-content-inner-title {
    font-weight: bold;
}

.ka-content-inner-subtitle {
}

.ka-content-plugin-options {
    display: none;
}

.ka-content-plugin:hover .ka-content-plugin-options {
    display: block;
}

.ka-content-actionBar-move {
    cursor: move;
}

.ka-content-html-toolbarContainer {
    text-align: center;
    padding: 10px 0;
}

.ka-content-markdown textarea {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: "SourceCodePro-Regular", monospace, sans-serif;
    text-indent: 0;
}

.ka-content-markdown textarea:focus {
    outline: 0;
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}