.ka-datePicker-chooser {
    position: absolute;
    left: 0px;
    top: 0px;
    border: 1px solid #bbb;
    padding: 2px;
    padding-bottom: 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #eee;
    z-index: 1500000;
}

.ka-datePicker-chooser table th,
.ka-datePicker-chooser table td {
    width: 27px;
    line-height: 20px;
    font-size: 11px;
    text-align: center;
}

.ka-datePicker-chooser table {
    table-layout: fixed;
    border: 1px solid #ddd;
    margin: 2px;
}

.ka-datePicker-month {
    float: left;
    height: 32px;
    line-height: 32px;
    width: 110px;
}

.ka-datePicker-month span,
.ka-datePicker-year span {
    padding: 0px 2px;
}

.ka-datePicker-month a,
.ka-datePicker-year a {
    position: relative;
    top: -1px;
}

.ka-datePicker-year {
    float: right;
    height: 32px;
    line-height: 32px;
    padding-right: 5px;
    width: 80px;
    text-align: right;
}

td.ka-datePicker-item-selected {
    background-color: #ddd;
}

a.ka-datePicker-item {
    cursor: pointer;
}

td.ka-datePicker-item:hover {
    background-color: #d6d6d6;
}

a.ka-datePicker-item-selected {
    color: black;
}

a.ka-datePicker-item-gray {
    color: #bbb;
}

.ka-datePicker-time {
    text-align: center;
}

.ka-datePicker-time span {
    padding: 0px 4px 0px 4px;
}

input.ka-datePicker-timeMinutes,
input.ka-datePicker-timeHours {
    width: 30px;
}
