.ka-helpsystem-container {
    position: absolute;
    right: 5px;
    bottom: 7px;
    overflow: hidden;
    width: 270px;
    z-index: 5000000;
}

a.ka-helpsystem-bubble-closer {
    position: absolute;
    right: 4px;
    top: 3px;
    color: white;
    font-weight: bold;
    font-size: 9px;
    height: 15px;
    width: 15px;
}

a.ka-helpsystem-bubble-closer:hover {
    color: #bbb;
}

.ka-helpsystem-bubble {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background-color: #333;
    padding: 8px;
    padding-top: 4px;
    color: #eee;
    font-size: 11px;
    margin-top: 5px;
    line-height: 20px;
    position: relative;
}

.ka-helpsystem-bubble h3 {
    color: white;
    margin: 4px 0px;
    margin-top: 0px;
    border-bottom: 1px solid #666;
}