.ka-Select-wrapper {
    display: inline-block;
    position: relative;
    height: 30px;
    line-height: 28px;
}

.ka-Select-wrapper > .ka-Select-box {
    position: absolute;
    left: 0;
    right: 0;
}

a.ka-Select-box,
a.ka-Select-box:link {
    cursor: default;
    position: relative;

    overflow: hidden;
    display: inline-block;
    line-height: 28px;

    color: #333;

    vertical-align: top;
    min-width: 40px;
    margin: 0 4px;

    background-color: #fefefe;
    border: 1px solid #ddd;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    text-align: left;

    max-width: 100%;
}

.ka-Select-box:first-child {
    margin-left: 0;
}

.ka-Select-box:last-child {
    margin-right: 0;
}


.ka-ActionBar .ka-Select-box,
.ka-ActionBar .ka-Select-box:link,
.ka-windowEdit-action-bar .ka-Select-box,
.ka-windowEdit-action-bar .ka-Select-box:link,
.kwindow-win-titleGroups .ka-Select-box,
.kwindow-win-titleGroups .ka-Select-box:link {
    line-height: 30px;
    height: 30px;
}


.ka-ButtonGroup > .ka-Select-box,
.ka-ButtonGroup > .ka-Select-box:link {
    margin: 0;
    border-left: 0;
}

.ka-ButtonGroup > .ka-Select-box:first-child {
    border-left: 1px solid #ececec;
}

.ka-Select-arrow {
    background-color: #fefefe;
}

a.ka-Select-box:focus {
    outline: 0;
    border-color: rgba(47, 140, 189, 0.9);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    box-shadow: 0 0 0 3px rgba(47, 140, 189, 0.2);

    -moz-transition-duration: .1s;
    -webkit-transition-duration: .1s;
    -o-transition-duration: .1s;
    -ms-transition-duration: .1s;
    transition-duration: .1s;
}

.ka-Select-box-open,
.ka-Select-box-open:link,
.ka-Select-box:active  {

}

a.ka-Select-box:hover,
a.ka-Select-box-open,
a.ka-Select-box-open:link,
a.ka-Select-box-open:hover {
    background-color: #f4f4f4;
}

a.ka-Select-transparent,
a.ka-Select-transparent .ka-Select-arrow,
a.ka-Select-transparent:link,
a.ka-Select-transparent:active,
a.ka-Select-transparent .ka-Select-box:active > .ka-Select-arrow,
a.ka-Select-transparent .ka-Select-box-focus > .ka-Select-arrow {
    background-color: transparent;
    background: transparent;
    border: 0;
    box-shadow: none;
}

a.ka-Select-box-focus {
    border: 1px solid #3E9BCB;
}

.ka-Select-box-title {
    padding-left: 5px;
    padding-right: 25px;
    display: inline-block;
    white-space: nowrap;
}

.ka-select-chooser-item span:before,
.ka-Select-box-title span:before {
    padding-right: 5px;
    font-size: 16px;
    position: relative;
    top: 2px;
}

.ka-Select-arrow {
    position: absolute;
    padding-top: 1px;
    padding-right: 5px;
    top: 0;
    right: 0;
    bottom: 0px;
    border-left: 1px solid #DDD;
    width: 14px;
}

.ka-Select-arrow:before {
    color: #666;
    padding-left: 3px;
    font-size: 12px;
}

.ka-Select-box-title > span:before {
    padding-right: 3px;
}

.ka-Select-chooser {
    margin: 0px auto;
    border: 1px solid #e6e6e6;

    border-top: 0px;

    position: absolute;
    min-width: 50px;
    min-height: 15px;
    max-height: 200px;
    max-width: 100%;
    overflow: auto;
    background-color: #fefefe;
}

.ka-Select-borderline {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 1px;
    border-top: 1px solid #e6e6e6;
}

.ka-Select-chooser div.group {
    color: #999;
    text-align: left;
    padding: 5px 10px;
    font-weight: bold;
}

a.ka-select-chooser-item {
    display: block;
    padding: 3px 23px;
    color: #222;
    text-decoration: none;
    line-height: 18px;
    cursor: default;

    position: relative;
    white-space: nowrap;
}

.ka-Select-box-title img, .ka-select-chooser-item img {
    margin-right: 2px;
    position: relative;
    top: 3px;
    left: -2px;
}

.ka-select-chooser-item-active {
    background-color: #e4e4e4;
}

.ka-select-chooser-item:hover {
    background-color: #eee;
}

a.ka-Select-separator,
a.ka-Select-separator:link {
    padding: 2px 5px;
    font-weight: bold;
    cursor: default;
}

a.ka-select-chooser-item-selected {
    padding-left: 6px;
}

a.ka-select-chooser-item-selected:before {
    padding-right: 4px;
}

.ka-Select-chooser a.ka-Select-separator:hover {
    background-color: transparent;
}

.ka-Select-disabled,
.ka-Select-disabled:link,
.ka-Select-disabled:hover,
.ka-Select-disabled:active {
    color: #808080;
    border: 1px solid #E7E7E7;
    opacity: 0.8;
    background-color: #FEFEFE;
}