a.ka-system-settings-link {
    display: inline-block;
    margin: 15px;
    padding: 5px;
    font-size: 16px;
    color: #444;
    cursor: pointer;
    text-align: center;
}

.ka-system-settings-link > span {
    display: block;
    padding-bottom: 7px;
}

a.ka-system-settings-link:hover {
    border: 1px solid silver;
    background-color: #f3f3f3;
    margin: 14px;
}

.ka-system-cat {
    border-top: 1px solid #e0e0e0;
    padding: 5px;
}

.ka-system-cat {
    background-color: #f3f3f3;
}

.ka-system-cat:nth-child(2n) {
    background-color: #efefef;
}