.ka-windowEdit-form,
.ka-windowEdit-form-addDialog {
    position: relative;
}

.ka-windowEdit-form .ka-tabGroup:first-child,
.ka-windowEdit-form .ka-tabGroup-small:first-child {
    border-left: 0;
}

.ka-windowEdit-form-addDialog {
    bottom: 0px;
}

.ka-windowEdit-form .ka-field-layoutelement-layoutcontent {
    position: absolute;
    top: 70px;
    left: 10px;
    right: 10px;
    bottom: 0px;
    overflow: auto;
    background-color: white;
    border-top: 1px solid #ddd;
    padding: 15px;
}

.ka-windowEdit-action-bar {
    text-align: right;
}

.ka-windowEdit-action-bar > *:last-child {
    margin-right: 0;
}

.ka-windowEdit-action-bar > *:first-child {
    margin-left: 0;
}

.ka-windowEdit-form {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.ka-windowEdit-form .ka-field-layoutelement-tinytoolbar {
    right: 0px;
}

.ka-windowEdit-form {
    background-color: #F7F7F7;
}


.ka-windowEdit-form > .ka-tabPane-full > .kwindow-win-tabPane-pane {
    border: 0;
}

.ka-windowEdit-overhangingItemsContainer {
    position: absolute;
    border: 1px solid #777;
    border-top: 0px;
    background-color: #BBB;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
}

.ka-windowEdit-overhangingItemsContainer a.ka-tabGroup-item,
.ka-windowEdit-overhangingItemsContainer a.ka-tabGroup-item:link {
    display: block;
    border: 0px;
    border-bottom: 1px solid #ddd;
    float: none;

    background: #d6d6d6; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q2ZDZkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmQ2ZDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #d6d6d6 0%, #d6d6d6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d6d6d6), color-stop(100%, #d6d6d6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d6d6d6 0%, #d6d6d6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d6d6d6 0%, #d6d6d6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d6d6d6 0%, #d6d6d6 100%); /* IE10+ */
    background: linear-gradient(top, #d6d6d6 0%, #d6d6d6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d6d6', endColorstr='#d6d6d6', GradientType=0); /* IE6-8 */

}

.ka-windowEdit-form .tinyMceExternalToolbarParent {
    width: 100%;
    top: 0px;
}

.ka-windowEdit-form .tinyMceExternalToolbarParent .mceExternalToolbar > table {
    width: 100%;
}

.ka-windowEdit-add-choosePosition-treeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    overflow: auto;
}