.ka-WindowList-main > table,
.ka-WindowList-head > table {
    table-layout: fixed;
    width: 100%;
}

.ka-WindowList-head {
    position: absolute;
    top: 0px;
    /*width: 100%;*/
    left: 0px;
    right: 16px;
    height: 21px;
    border-bottom: 1px solid silver;
}

.ka-WindowList-main {
    position: absolute;
    top: 22px;
    width: 100%;
    bottom: 30px;
    background-color: #f9f9f9;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.ka-window-list-buttonGroup {
    margin-left: 0px;
}

/*
.ka-WindowList-head > table th {
    line-height: 19px;
}

.ka-WindowList-head table th:hover {
    background-color: #c7c7c7;
}


.ka-WindowList-head > table th,
.ka-WindowList-main > table td {
    cursor: default;
    border-left: 1px solid #ddd;
    padding-left: 3px;
    font-weight: normal;
}

.ka-WindowList-main > table tr td {
    color: #555;
}


.ka-WindowList-main > table tr td.edit img {
    cursor: pointer;
}

.ka-WindowList-main > table tr.active td {
    background-color: #112a6a;
    color: white;
}
*/

.ka-windowCombine-treeContainer {
    top: 35px;
    border: 1px solid #ddd;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #FBFBFB;
}

.ka-windowCombine-treeContainer + .ka-Splitter-main {
    top: 35px;
}

.ka-Table-windowList-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    border: 1px solid #dcdcdc;
}

.ka-Table-windowList th:before {
    font-size: 10px;
    color: gray;
    margin-right: 4px;
}

.ka-windowCombine-list-container > .ka-Table-absolute {
    border: 1px solid #dcdcdc;
    border-bottom: 0;
}

.ka-windowCombine-combine-container,
.ka-windowCombine-list-container {
    visibility: hidden;
    opacity: 0;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}

.ka-windowCombine-combine-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transform:translate(150px, 0px);
    -moz-transform:translate(150px, 0px);
    -ms-transform:translate(150px, 0px);
    -o-transform:translate(150px, 0px);
    transform:translate(150px, 0px);
}

.ka-windowCombine-combine-show {
    visibility: visible;
    opacity: 1;
    -webkit-transform:translate(0px, 0px);
    -moz-transform:translate(0px, 0px);
    -ms-transform:translate(0px, 0px);
    -o-transform:translate(0px, 0px);
    transform:translate(0px, 0px);
}

.ka-windowCombine-list-show {
    visibility: visible;
    opacity: 1;
}

.ka-windowCombine-combine-actionbar {
    padding-top: 5px;
    white-space: nowrap;
}

.ka-windowCombine-combine-actionbar .ka-windowEdit-actions {
    border-top: 0;
}

.ka-windowCombine-list-actions {
    text-align: left;
    position: absolute;
    left: 1px;
    height: 0;
    bottom: -11px;
    right: 1px;
    overflow: hidden;
    background-color: white;
}

.ka-WindowList-combine-item-remove {
    position: absolute;
    right: 5px;
    bottom: 3px;
    padding: 5px;
    display: none;
}

.remove-activated .ka-WindowList-combine-item-remove {
    display: block;
}

.remove-activated .ka-WindowList-combine-item {
    margin-left: 25px;
}

.ka-WindowList-combine-item-removecheck {
    position: absolute;
    left: -20px;
    width: 25px;
    top: 0;
    height: 100%;
    border-bottom: 1px solid #ddd;
}

.ka-WindowList-combine-item-removecheck input {
    margin-top: 15px;
}

.ka-WindowList-combine-right > .ka-windowEdit-form,
.ka-WindowList-combine-right > .ka-windowEdit-form-addDialog {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border: 1px solid #DDD;
    background-color: #fbfbfb;
}

.ka-WindowList-combine-content {
    background: transparent;
    border: 0;
}

.ka-WindowList-combine-left-itemcount {
    position: absolute;
    right: 6px;
    top: 10px;
    color: #999;
}

.ka-windowCombine-title {
    font-size: 36px;
    color: #797979;
    line-height: 50px;
    font-weight:300;
}

.ka-WindowList-combine-searchicon {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 30px;
    border-right: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    color: gray;
}

.ka-WindowList-combine-searchicon img {
    position: relative;
    top: 7px;
}

.ka-WindowList-combine-searchicon-active,
.ka-WindowList-combine-searchicon:hover {
    background-color: #f8f8f8;
}

.ka-WindowList-combine-searchicon-active {
    bottom: -1px;
}

.ka-WindowList-combine-userfilter {
    margin: 0px 4px;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 4px;
    background-color: #f1f1f1;
}

.ka-WindowList-combine-userfilter a,
.ka-WindowList-combine-userfilter a:link {
    padding: 1px 5px;
    line-height: 14px;
}

.ka-WindowList-combine-search .ka-Select-box .ka-Select-box-title > span:before {
    font-size: 10px;
    color: gray;
    top: 0;
}

.ka-WindowList-combine-userfilter a img,
.ka-WindowList-combine-userfilter a:link img {
    position: relative;
    top: 1px;
}

.ka-WindowList-combine-userfilter a.active,
.ka-WindowList-combine-userfilter a.active:link {
    background-color: gray;
    color: white;
}

.ka-WindowList-combine-left {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.ka-WindowList-combine-left + .ka-Splitter-main {
    right: -16px;
    width: 15px;
    border: 0;
}

.ka-WindowList-actionBarNavigation {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    border-top: 1px solid #DDD;
}

.ka-Table-windowList {
    bottom: 46px;
}

.ka-Table-windowList .ka-Table-body {
    background-color: transparent;
}

.ka-WindowList-actionBar-page {
    border-top: 0;
    border-bottom: 0;
    width: 45px;
    position: relative;
    text-align: center;
    text-indent: 0;
    height: 28px;
    border: 0;
}

.ka-WindowList-actionBar-page-count {
    display: inline-block;
    min-width: 29px;
    text-align: center;
    line-height: 30px;
}

.ka-WindowList-actionBar .actionBar img {
    cursor: pointer;
}

a.ka-WindowList-search-button,
a.ka-WindowList-search-button:link {
    position: absolute;
    display: block;
    padding: 0px 5px 0px 5px;
    right: 150px;
    top: -1px;
    height: 30px;
    line-height: 30px;
    color: white;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
}

a.ka-WindowList-search-button:hover,
a.ka-WindowList-search-button-active,
a.ka-WindowList-search-button-active:link {
    background-color: #bbb;
    color: white;
}

.ka-WindowList-search-pane {
    background-color: #bbb;
    border-top: 1px solid gray;
    position: absolute;
    bottom: 28px;
    left: 0px;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 1px;
}

.ka-WindowList-combine-splititem {
    border-bottom: 1px solid #ddd;
    padding: 0px 6px;
    line-height: 20px;
    color: #666;
    background: #F7F7F7;
}

.ka-WindowList-combine-left-top {
    position: relative;
    height: 33px;
    color: #444;
    padding: 6px;
    padding-left: 0;
}

.ka-WindowList-combine-left-top .ka-Select-box,
.ka-WindowList-combine-left-top .ka-Select-box:link {
    margin-left: 0;
}

.ka-WindowList-combine-items + .ka-Splitter-main {
    top: 35px;
    border-top: 1px solid #E2E2E2;
}

.ka-windowCombine-title-groups {
}

.ka-WindowList-combine-itemloader:hover {
    background-image: none;
    background-color: transparent;
}

.ka-WindowList-combine-itemloader {
    padding: 10px;
    color: silver;
    text-align: center;
    cursor: default;
}

.ka-WindowList-combine-searchpane {
    position: absolute;
    background-color: #f8f8f8;
    left: 0px;
    top: 31px;
    height: 0px;
    right: 6px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-image: url(../../images/ka-list-combine-searchpane-bg.png);
    background-repeat: repeat-x;
    background-position: left bottom;
}

.ka-WindowList-combine-searchpane .ka-field-field select,
.ka-WindowList-combine-searchpane .ka-field-field textarea,
.ka-WindowList-combine-searchpane .ka-field-field input.text {
    width: 140px;
}

.ka-WindowList-navigationBar {
    border: 1px solid #cecece;
    margin-top: 7px;
}

.ka-WindowList-navigationBar .ka-buttonGroup-item,
.ka-WindowList-navigationBar .ka-buttonGroup-item:link {
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.ka-WindowList-combine-searchpane .ka-field-field {
    margin: 2px 2px 2px 15px;
}

.ka-WindowList-combine-searchpane .ka-field-tdtitle {
    padding-top: 7px;
}

a.ka-windowCombine-left-toggler {
    position: absolute;
    display: block;
    right: -17px;
    width: 15px;
    bottom: 0;
    padding-left: 0;
}

a.ka-windowCombine-left-toggler:hover {
    background-color: #ddd;
}

.ka-WindowList-combine-sidebarContainer {
    border-bottom: 1px solid gray;
}

.ka-WindowList-searchContainer {
    float: right;
}